html, body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100vh;
}

.sidenav {
    background-color: grey;
}

.main-content {
    background-color: white;
}